  

.generic_kv_table {
	width: 100%
}

.generic_kv_table th, .generic_kv_table td {
	padding: 15px;
	border-bottom: 1px solid #243549;
}

.generic_kv_table th {
	color: #DDDDDD;
}

.generic_kv_table td .playerAvatar {
	float: left;
	margin-right: 8px;
}

a.csgo_itemidlink  {
	color: #8F98A0;
}

.generic_kv_table td .playerNickname {
	height: 32px;
	margin: 1px;
	line-height: 32px;
}

.generic_kv_table td .playerNickname a {
	color: #8F98A0;
}

.csgo_scoreboard_root .col_left {
	width: 204px;
}

.csgo_scoreboard_root .val_left {
	vertical-align: top;
}

.csgo_scoreboard_inner_left td {
	padding-left: 0px;
	padding-right: 0px;
}

.csgo_scoreboard_inner_right {
	width: 100%;
}

.csgo_scoreboard_inner_right th, .csgo_scoreboard_inner_right td {
	border-bottom: 1px solid #243549;
	width: 35px;
	min-width: 35px;
	text-align: right;
}

.csgo_scoreboard_inner_right th {
	padding-left: 0px;
	padding-right: 0px;
}

.csgo_scoreboard_inner_right td {
	padding: 0px;
}

.csgo_scoreboard_inner_right .inner_name {
	width: 175px;
	max-width: 175px;
	text-align: left;
}

.commends_inner_name {
	width: 175px !important;
	max-width: 175px !important;
}

.csgo_scoreboard_score {
	padding: 15px !important;
	text-align: center !important;
	font-size: 20px !important;
	font-weight: bold !important;
	color: #bbbbbb !important;
}

.csgo_scoreboard_cell_noborder {
	border: none !important;
}

.csgo_scoreboard_btn_gotv {
	min-width: 150px;
	padding: 10px;
}

.load_more_history_area {
	margin: 30px 0 60px;
	text-align: center;
}

#load_more_button {
	min-width: 300px;
	text-align: center;
	padding: 10px;
	text-transform: uppercase;
}